<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1>NASA Mars News and Photos</h1>
            <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/scrape" role="button">Get Scraping!</a></p>

        </div>

            
					<div class="container">
						<div class="row">
    						{% for w in weather%}
    						<div class="col">
                				<h4>Mars Latest Weather Report</h4>
            					<p>{{w.mars_weather}}</p>
            					
            				</div>
            				{% endfor %}
            				
            				
            				<div class="col">
                				{% for tb in facts_html%}         				
            					{{tb.nasa_mars_facts_html | safe}}
            					{% endfor %}
            				</div>
            				
            				{% for i in image%}
            				<div class="col">
            					<h3>Featured Mars Image - {{i.nasa_mars_featured_image_title}}</h3>
            					<picture>
                					<img src={{i.nasa_mars_featured_image_url}} class="img-fluid">
            					</picture>
            				</div>
            				{% endfor %}
            				
            				{% for record in news%}
            				<div class="col">
            				<h4>Mars Latest News</h4>
            					<h3>{{record.news_title}}</h3>
            					<p>{{record.news_p}}</p>
            				</div>
                			{% endfor %}
                			
                			{% for img in image_urls%}
							<div class="col">
								<picture>
									<img src={{img.image_url}} class="img-fluid img-thumbnail">
								</picture>
							</div>
							{% endfor %}
						</div>
					</div>
            

    </div>

</body>

</html>
