<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h1><b>NASA Mars Latest News and Photos<b></h1>
            <p><a class="btn btn-primary btn-lg" href="http://127.0.0.1:5000/scrape" role="button">Scrape for Updates</a></p>

        </div>

            
					<div class="container">
						<div class="row">
    						{% for record in news%}
            				<div class="col-xs-4">
            				<h1>Mars Latest News</h1>
                				<h3>{{record.news_title}}</h3>
                				<h4><p><b>{{record.news_p}}<b></p><h4>           				
            				</div>
                			{% endfor %}
                			
    						{% for w in weather%}
    						<div class="col-xs-4">
                				<h1>Current Weather on Mars</h1>
            					<h4><p><b>{{w.mars_weather}}</b></p><h4>
            					
            				</div>
            				{% endfor %}
            				
            				
            				<div class="col-xs-4">
                				<h1>Mars Facts</h1>
                				{% for tb in facts_html%}         				
            					{{tb.nasa_mars_facts_html | safe}}
            					{% endfor %}
            				</div>
            				
            				{% for i in image%}
            				<div class="col-xs-12">
            					<h3>Featured Mars Image - <b>{{i.nasa_mars_featured_image_title}}<b></h3>
            					<picture>
                					<img src={{i.nasa_mars_featured_image_url}} class="img-fluid img-thumbnail">
            					</picture>
            				</div>
            				{% endfor %}
            			</div>
            				
         				<div class="row">
                			{% for img in image_urls%}
							<div class="col-xs-6">
								<picture>
									<img src={{img.image_url}} class="img-fluid img-thumbnail">
								</picture>
							</div>
							{% endfor %}
						</div>
					</div>
            

    </div>

</body>

</html>
